.search-bar-wrapper {
    margin: 20px 0px;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    background: #2c3e50;
    font-size: calc(5px + 1vw);
    color: #eee;
  }
  
  .search-bar-wrapper .search-bar-label {
    position: relative;
    float: left;
    padding: 3vh 1vw;
    user-select: none;
    font-weight: 500;
  }
  
  #search-bar-input {
    font-size: 0.5vw + 0.5vh;
    font-weight: 300;
    color: #eee;
    border: 0px solid;
    outline: none;
    width: 700px;
    background: transparent;
  }
  
  #search-btn {
    background: rgb(8, 192, 158);
    border-radius: 4px;
    border: 0;
    margin-top: 0.8vh;
    padding: 2vh 1.2vw 1.1vh;
    box-shadow: none;
    line-height: 1.5em;
    cursor: pointer;
  }
  
  #search-btn:hover {
    background: rgb(7, 129, 107);
  }