.search-view-container {
  background-color: #282c34;
  /* min-height: 80vh; */
  display: block;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  font-size: 21px;
  color: #eee;

  background-image: url('https://thumbs.dreamstime.com/z/row-fresh-boba-bubble-tea-glasses-wooden-background-slices-fruity-ingredients-delicious-summer-89050014.jpg');
  background-size: cover;
  height: 768px;
  min-width: 1080px;
}

.search-view-container .content-container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 900px;
}

.search-view-container .content-container h1 {
  margin: 0;
  padding: 150px 0 100px;
}
